<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Favorites</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>MY FAVORITES</h1>
    <ul>
        <li>Favorite Food: Pares / Mami,</li>
        <li>Favorite Movie: Fast and the Furious,</li>
        <li>Favorite Book: Motivational Challenges </li>

    </ul>
    <a style="margin-left:700px; padding-top:350px;" href="{{ url_for('index') }}">BACK TO PROFILE</a>
</body>
</html>
