<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Friends</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>MY FRIENDS</h1>
    <ul>
        <li>Jerome Gaspar,</li>
        <li>Jayson Villanuz,</li>
        <li>Jerald Tores,</li>
        <li>Lanz Andrei Molina,</li>
        <li>Dee Sembrano,</li>
        <li>Vincent Fransico</li>

    </ul>
    <a style="margin-left:700px; padding-top:350px;" href="{{ url_for('index') }}">BACK TO PROFILE</a>
</body>
</html>


